html, body, #app-root, app-root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.containerCard {
  width: 90rem !important;
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

form {
  width: 100%;
}

.p-field {
  width: 100%;
  box-sizing: border-box;
}

.ttlInput {
  margin-top: 1rem;
  width: 100%;
}

.submit {

}

textarea, input, button, .cal {
  width: 100%;
  box-sizing: border-box;
}

a {
  color: #02ff7f; /* example clicked color */
  font-weight: 600;
}

.clicked-link {
  color: #024aff; /* example clicked color */
  font-weight: 600;
}
